'atom-text-editor':
  'ctrl-;': 'turbo-javascript:end-line-semicolon'
  'ctrl-:': 'turbo-javascript:end-line-colon'
  'ctrl-,': 'turbo-javascript:end-line-comma'
  'ctrl-.': 'turbo-javascript:end-line-dot'

  'ctrl-b': 'turbo-javascript:wrap-block'

  'ctrl-enter': 'turbo-javascript:end-new-line'
